doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/shCore.css')
    link(rel='stylesheet', href='/css/shThemeDefault.css')
    script(src='/js/zepto.min.js')
    script(src='/js/brush.js')
  body
    block content

    //script SyntaxHighlighter.all();
    script(src='/js/angular-1.0.1.min.js')
    block script


