doctype html
html(ng-app='fcsql')
  head
    meta(charset='utf-8')
    title 渠道SQL生成工具
    link(rel='stylesheet',href='/css/style.css')
  body
    block leftContent
    block rightContent
    script(type='text/javascript',src='/js/angular-1.0.1.min.js')