doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/shCore.css')
    //link(rel='stylesheet', href='/css/shCoreDefault.css')
    link(rel='stylesheet', href='/css/shThemeDefault.css')
    script(src='/js/zepto.min.js')
  body
    block content


    script(src='/js/way.js')
    block script


