extends layout

block content
  form(way-data="sql",way-persistent="true")
    input(type="text",name="sqlName")
    pre(class='brush: sql')= sqlContent

block script
  //script(src='/js/sqlController.js')
  //script(src='/js/shCore.js')
  //script(src='/js/shBrushSql.js')
  //script SyntaxHighlighter.all();
  //script(src='/js/initBind.js')
